/* Pure CSS for About.jsx converted from TailwindCSS */
.about-container {
  display: flex;
  flex-direction: column;
  max-width: 80rem; /* 7xl */
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
  height: 60vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1024px) {
  .about-container {
    flex-direction: column;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import "base";
@import "components";
@import "utilities";
body {
  font-family: "dancing script", "caveat", sans-serif;
}

.class{
  transform: rotateZ(45deg);
  
}
.class2:hover{
  background: rgb(236, 236, 236);
  transition: 0.5s;
}
.class2:active{
  box-shadow: inset 0px 0px 5px 1px;
}
.bgimg{
  background: url("./assets/Image004.png");
  background-size: cover;
  background-position: center;
}
